* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root{
    --primary-color: #0F1B4C;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

/* Common */
a {
    text-decoration: none;
}


.content{
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px;
    border-radius: 12px;
    background: var(--primary-color);
    color: #FFF;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}


.line-clamp{
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* HEADER */
.header{
    background-color: #E6F0FF;
    height: 100vh;
    position: relative;
}

.navbar{
    display: flex;
    align-items: center;
    padding-top: 38px;
}

.navbar ul{
    display: flex;
    margin-left: 50px;
}

.navbar .actions{
    margin-left: auto;
}

.navbar ul a{
    color: #4F5361;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500; 
    padding: 8px 1.4rem;
}

.navbar ul a:hover{
    text-decoration: underline;
}

.navbar .action-link{
    color: var(--primary-color);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
}

.btn:hover{
    opacity: 0.9;
}

.navbar .action-btn{
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}

.hero{
    margin-top: 130px;
}

.hero .sub-title{
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.18px;
}

.hero .title{
    margin-top: 8px;
    color: #000336;
    font-family: Poppins;
    font-size: 6.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 118.75%;
    /* 118.75% */
}

.hero .info {
    width: 51%;
}

.hero .desc{
    color: #5A6473;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 177.778%;
    margin-top: 30px;
}

.hero-cta{
    margin-top: 40px;
    min-width: 170px;
}

.hero .hero-img{
    position: absolute;
    bottom: 0;
    right: calc( (100vw - 1110px) / 2 - 100px);
}



/* CLIENTS */

.clients{
    margin-top: 122px;
    padding: 43px 0 64px;
}

.clients .row{
    display: flex;
    justify-content: space-between;
}

.clients .desc{
    color: #7D8589;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 125%;
    /* 125% */
}

.clients p:first-child{
    padding-top: 23px;
}

.clients p:last-child {
    padding-top: 18.15px;
}

.clients .images{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.clients .images a{
    display: flex;
    align-items: center;
    padding: 0 42px;
    height: 91px;
    border-radius: 12px;
}

.clients .images a:hover{
    box-shadow: 0px 10px 20px 0px #0000001A;
}

/* GUIDES */

.guides {
    margin-top: 40px;
    padding: 93px 0 79px;
}


.guides .sub-title{
    color: #000339;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
    position: relative;
}


.guides .sub-title::before{
    content: "";
    display: inline-block;
    width: 4.1rem;
    height: 0.4rem;
    flex-shrink: 0;
    border-radius: 1.2rem;
    background: #000339;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.guides .desc{
    margin: 0 auto;
    width: 459px;
    max-width: 100%;
    margin-top: 20px;
    color: #5A6473;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
    text-align: center;
    /* 187.5% */
}

.list-guide {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.guide-item {
    margin: 0 70px;
    text-align: center;
}

.guide-item .title{
    color: #3B3C45;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 26px;
    /* 110% */
}

.guide-item .link{
    display: inline-block;
    color: #0689FF;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 10px;
}

.guide-item .arrow{
    margin-left: 4px;
}

.guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.guide-cta .btn {
    min-width: 170px;
}

/* Feature */

.featured{
    display: flex;
    flex-direction: column;
    margin-top: 41px;
    background: #F5FAFE;;
    height: 727px;
}

.featured .sub-title{
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
    /* 100% */
}

.featured .desc{
    margin-top: 15px;
    color: #5A6473;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875;
    /* 187.5% */
}

.featured .link{
    color: #0689FF;
    text-align: right;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    margin-top: 20px;
    line-height: normal;
}

.featured .row{
    display: flex;
    justify-content: space-between;
}

.featured .link .arrow{
    position: relative;
    margin-left: 4px;
    top: -2px;
}

.featured .content{
    margin-top: 110px;
}

.featured .list{
    margin-top: 70px;
    display: flex;
    gap:0 30px;
    margin-bottom: 110px;
}

.featured .item{
    flex: 1;
    border-radius: 12px;
    background: #FFFFFF;
}

.featured .item .thumb{
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.featured .item .body{
    padding: 17px 20px 24px;
}

.featured .item .title a{
    color: #000339;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
}

.featured .item .desc{
    color: #A3A6AB;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}

.featured .item .info{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.featured .item .label{
    margin-left: 8px;
    margin-right: 22px;
    color: #444;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    /* 100% */
}

/* Stats */

.stats{
    margin-top: 75px;
    padding: 50px 0;
}

.stats .content{
    width: 1017px;
}

.stats .row{
    display: flex;
}

.stats .img-block, 
.stats .info{
    width: 50%;
}

.img-block {
    position: relative;
}

.stats .img-block .image{
    display: block;
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
    margin-left: auto;
}

.stats .info{
    padding: 79px 0 0 165px;
}

.stats .sub-title{
    position: relative;
    width: 269px;
    height: 142px;
    color: #000339;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.28571;
    /* 128.571% */
}

.stats .sub-title::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
    margin-top: -10px;
}

.stats .info .desc{
    margin-top: 20px;
    width: 309px;
    color: #5A6473;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875;
    /* 187.5% */
}

.stats-trend{
    position: absolute;
    top:0;
    left: 0;
    width: 239px;
    background: #FFF;
    border-radius: 0px 0px 12px 12px;
    padding: 45px 22px 40px;
}

.stats-trend .value{
    color: #000339;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.26px;
}

.stats-trend .icon{
    margin-left: auto;
}

.stats-trend .desc{
    margin-top: 8px;
    color: #A7A7A7;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
}

.stats-trend .separate{
    width: 193.62px;
    height: 1.2px;
    flex-shrink: 0;
    background: #E9E9E9;
    margin-top: 25.51px;
}

.stats .avatar-block{
    display: flex;
    margin-top: 26px;
    gap: 16px 14px;
    flex-wrap: wrap;
}

.stats .avatar-group{
    display: flex;
}

.stats .avatar{
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -3px;
}

.stats .avatar:first-of-type {
    margin-left: 0;
}

.row-qty{
    justify-content: space-between;
    margin-top: 110px;
    padding: 0 32px;
}

.stats .qty{
    color: #000;
    font-size: 6.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
}

.stats .qty-desc{
    color: #7B8087;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 24px;
}

/* Subcribtion */

.subcribtion {
    margin-top: 90px;
}

.subcribtion .body{
    position: relative;
    height: 370px;
    border-radius: 20px;
    background: #063183;
    display: flex;
    align-items: center;
}

.subcribtion .info{
    padding: 0 80px;
    width: 661px;
    max-width: calc();
}

.subcribtion .sub-title{
    color: #FFF;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
    /* 100% */
}

.subcribtion .desc{
    color: #FFF;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 187.5%;
    /* 187.5% */
    margin-top: 15px;
    opacity: 0.75;
}

.subcribtion .btn{
    background: #FFF;
    color: #002366;
    text-align: center;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 151px;
    margin-top: 20px;
}

.subcribtion .image{
    position: absolute;
    bottom: 0;
    right: 221px;
}

/* Footer */
.footer{
    margin-top: 55px;
    padding: 50px 0 58px;
}

.footer .row{
    display: flex;
}

.footer .row-top{
    gap: 185px;
}

.footer .heading{
    color: #1C1C1D;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: normal;
}

.footer .list, .desc{
    margin-top: 42px;
}

.footer .item{
    margin-top: 18px;
}

.footer .item a, .footer .desc{
    color: #7A7A7E;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
}

.footer .desc{
    white-space: normal; /*Ghi đè lên giá trị cũ để không xuống dòng*/
    line-height: 1.75;
}

.footer .social{
    margin-top: 40px;
    display: flex;
    gap: 0 19px;
}

.footer .row-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 81px;
}

.footer .copyright{
    color: #C2C2C2;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}